/* @import url("https://fonts.googleapis.com/css?family=Roboto:300"); */
html,
body {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  background: white;
}

ul {
  list-style-type: none;
}

/* utilities */
.flex {
  display: flex;
}

.stroke {
  text-decoration: line-through;
}

.font-400 {
  font-weight: 500;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

.text-lg {
  font-size: 18px;
}

.text-base {
  font-size: 16px;
}

.text-sm {
  font-size: 14px;
}

.text-xs {
  font-size: 11px;
}

.bg-black {
  background-color: #000;
}

.text-white {
  color: #fff;
}

.text-grey {
  color: #8F8F8F;
}

.text-red {
  color: #FF3737;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.container {
  width: 100%;
  min-height: 100%;
  padding: 40px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container h2 {
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.tabs {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  max-width: 767px;
}

.tabs li {
  background-color: #fff;
  color: #000;
  flex: 1;
  text-align: center;
  padding-block: 9px;
  border-radius: 4px;
  cursor: pointer;
}

.tabs li.active {
  background-color: #000000;
  color: #fff;
}

#contentContainer {
  margin-top: 30px;
}

#contentContainer>div.active {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr;

}

#contentContainer>div {
  display: none;
}

/* Product cards */
.card {
  width: 100%;
}

.img-container {
  position: relative;
}

.img-container img {
  width: 250px;
  height: 260px;
  object-fit: cover;
  object-position: top;
  border-radius: 4px;
}

.details {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 4px;
}

.details h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.price {
  display: flex;
  gap: 6px;
  margin-top: 5px;
}

.cart-btn {
  border-radius: 4px;
  padding-block: 10px;
  background-color: #000;
  border: none;
  color: #fff;
  width: 250px;
  margin-top: 8px;
}

.badge {
  /* display: inline-block; */
  font-size: 10px;
  font-weight: 600;
  background-color: #fff;
  color: #000;
  position: absolute;
  top: 6px;
  left: 6px;
  padding: 6px 9px;
}

.fa-circle {
  width: 3px;
  height: 3px;
}



@media (min-width: 450px) {
  .card {
    width: 184px;
  }

  .cart-btn {
    width: 184px;
  }

  .img-container img {
    height: 200px;
    width: 184px;
  }

  #contentContainer>div.active {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 767px) {
  #contentContainer>div.active {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  #contentContainer>div.active {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}